<div class="container-fluid">
  <div class="row main p-1">
    <div class="col-sm-11 m-auto">
      <div class="row">
        <div class="col-sm-6">
          <a class="mail-link" href="mailto:contact@resonancekarimnagar.com">
            <span><i class="bi bi-envelope-open me-1"></i></span>
            contact@resonancekarimnagar.com
          </a>
          <a class="mail-link ms-4" href="tel:+91 912 121 9858">
            <span><i class="bi bi-telephone-outbound me-1"></i></span> +91
            9966533347
          </a>
        </div>
        <div class="col-sm-4">
          <a class="mail-link ms-4" href=""> <span></span>&nbsp; Gallery </a>
          <a class="mail-link ms-4" href=""> <span></span>&nbsp; Blog </a>
          <a class="mail-link ms-4" href=""> <span></span>&nbsp; Media </a>
          <a class="mail-link ms-4" href=""> <span></span>&nbsp; Faq </a>
        </div>
        <div class="col-sm-2">
          <div class="">
            <div class="text-end">
              <button
                type="button"
                class="btn btn-outline-light btn-sm"
                data-bs-toggle="modal"
                data-bs-target=".bd-example-modal-lg"
              >
                Admin Login
              </button>
            </div>

            <div
              class="modal fade bd-example-modal-lg mt-4"
              tabindex="-1"
              role="dialog"
              aria-labelledby="mySmallModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="row">
                    <div class="col-sm-6">
                      <img
                        class="p-1 logo m-auto p-2"
                        src="assets/images/admin-login.webp"
                        alt=""
                        width="100%"
                        height="320px"
                      />
                    </div>
                    <div class="col-sm-6">
                      <div class="card border-0 mt-4">
                        <div class="card-header">
                          <div class="row">
                            <div class="col-sm-10">
                              <h5 class="mb-0">Admin Login</h5>
                            </div>
                            <div class="col-sm-2">
                              <button
                                type="button"
                                class="close btn btn-basic p-2"
                                data-bs-dismiss="modal"
                                aria-label="Close"
                              >
                                <span class="text-end" aria-hidden="true"
                                  >x</span
                                >
                              </button>
                            </div>
                          </div>
                        </div>
                        <form>
                          <div class="card-body">
                            <div class="form-group">
                              <label class="mb-1">Email address</label>
                              <input
                                type="email"
                                class="form-control form-control-sm mb-4"
                                id="email"
                                aria-describedby="emailHelp"
                                placeholder="Enter email"
                              />
                            </div>
                            <div class="form-group">
                              <label class="mb-1">Password</label>
                              <input
                                type="password"
                                class="form-control form-control-sm mb-4"
                                id="password"
                                placeholder="Password"
                              />
                            </div>
                            <div class="text-center">
                              <button
                                type="submit"
                                class="btn btn-success w-50"
                              >
                                Login
                              </button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row head" id="home" [ngClass]="statusClass" #home>
    <div class="col-sm-11 m-auto head1">
      <div class="row">
        <div class="col-sm-3">
          <img
            class="p-1 logo m-auto"
            src="assets/images/logo.webp"
            alt=""
            width="100%"
            height="80px"
          />
        </div>
        <div class="col-sm-9"></div>
      </div>
    </div>
  </div>
  <div class="row sticky-top">
    <div class="card bg-nav border-0">
      <div class="row">
        <div class="col-sm-11 m-auto">
          <nav class="navbar navbar-expand-lg fw-bold p-0">
            <div class="container-fluid">
              <ul class="navbar-nav p-0">
                <li class="nav-item">
                  <a class="nav-link me-4" (click)="scrollToHome(home)">
                    <i class="bi bi-house"></i>Home</a
                  >
                </li>
              </ul>
              <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item me-4">
                    <a class="nav-link" (click)="scrollToCourse(course)"
                      >Courses</a
                    >
                  </li>
                  <li class="nav-item me-4">
                    <a class="nav-link">Admissions</a>
                  </li>
                  <li class="nav-item me-4">
                    <a class="nav-link" (click)="scrollToResults(result)"
                      >Results</a
                    >
                  </li>
                  <li class="nav-item me-4">
                    <a class="nav-link">Campus</a>
                  </li>
                  <li class="nav-item me-4">
                    <a class="nav-link" href="#">Life @ Resonance</a>
                  </li>
                  <li class="nav-item me-4">
                    <a class="nav-link" href="#">Way of Learning</a>
                  </li>
                  <li class="nav-item me-4">
                    <a class="nav-link" (click)="scrollToAbout(about)"
                      >About us</a
                    >
                  </li>
                  <li class="nav-item me-4">
                    <a class="nav-link" (click)="scrollToContact(contact)"
                      >Contact us</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="assets/images/poster1.webp"
            height="600"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="carousel-item">
          <img
            src="assets/images/poster2.webp"
            height="600"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="carousel-item">
          <img
            src="assets/images/poster3.webp"
            height="600"
            class="d-block w-100"
            alt="..."
          />
        </div>
      </div>
      <button
        class="carousel-control-prev prev-btn"
        type="button"
        data-bs-target="#carouselExample"
        data-bs-slide="prev"
      >
        <span
          class="carousel-control-prev-icon prev-icon"
          aria-hidden="true"
        ></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next next-btn"
        type="button"
        data-bs-target="#carouselExample"
        data-bs-slide="next"
      >
        <span
          class="carousel-control-next-icon next-icon"
          aria-hidden="true"
        ></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-9 m-auto">
      <div class="card p-4 card-bg text-center fw-bold">
        <div class="row">
          <div class="col-sm-4">
            <div class="card p-2 c mb-2">
              <div class="card-body text-color">
                <h1>NEET</h1>
                <h3>19000 +</h3>
                <p>Students Qualified Since 2022</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card p-2 c mb-2">
              <div class="card-body text-color">
                <h1>IIT's</h1>
                <h3>19000 +</h3>
                <p>Students Qualified Since 2022</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card p-2 c mb-2">
              <div class="card-body text-color">
                <h1>JEE Main</h1>
                <h3>19000 +</h3>
                <p>Students Qualified Since 2022</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row space" id="courses" [ngClass]="statusClass" #course>
    <div class="course">
      <h1 class="course-title ms-4">Courses</h1>
      <h3 class="reso-knr ms-4">Resonance Karimnagar</h3>
    </div>
  </div>
  <div class="row bg-course">
    <div class="col-sm-10 m-auto p-4">
      <h2>Engineering Courses</h2>
      <hr />
      <div class="row">
        <div class="col-sm-4">
          <div class="card p-4 card-shadow mb-2">
            <div class="">
              <h4 class="fw-bold fs-4 cs">
                Intermediate 1st Year + JEE (MAIN+ADVANCED)
              </h4>
            </div>
            <hr />
            <div>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Doloremque repellat earum ab vero, dolore est quia debitis quae
                tempore sed illo mollitia. Itaque exercitationem debitis dicta
                neque porro repellat ex?
              </p>
            </div>
            <div>
              <button
                type="button"
                class="btn btn-outline-light read-link"
                data-bs-toggle="modal"
                data-bs-target=".bd-example-modal-lg"
              >
                Read more >>>
              </button>

              <div
                class="modal fade bd-example-modal-lg"
                tabindex="-1"
                role="dialog"
                aria-labelledby="myLargeModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="row">
                      <div class="col-sm-5"></div>
                      <div class="col-sm-7">
                        <div class="card border-0 p-4">
                          <div class="text-center text-secondary">
                            <h3>Leave Us Your Info</h3>
                            <hr />
                          </div>
                          <div>
                            <form>
                              <div class="form-group">
                                <label>Email address</label>
                                <input
                                  type="email"
                                  class="form-control form-control-sm mb-2"
                                  id="email"
                                />
                              </div>
                              <div class="form-group">
                                <label>Password</label>
                                <input
                                  type="password"
                                  class="form-control form-control-sm mb-2"
                                  id="password"
                                />
                              </div>
                              <div class="form-group">
                                <label>Email address</label>
                                <input
                                  type="email"
                                  class="form-control form-control-sm mb-2"
                                  id="email"
                                />
                              </div>
                              <div class="form-group">
                                <label>Password</label>
                                <input
                                  type="password"
                                  class="form-control form-control-sm mb-2"
                                  id="password"
                                />
                              </div>
                              <button
                                type="submit"
                                class="btn btn-outline-primary mt-4"
                              >
                                Submit
                              </button>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card p-4 card-shadow mb-2">
            <div class="">
              <h4 class="fw-bold fs-4 cs">
                Intermediate 1st Year + JEE (MAIN+ADVANCED)
              </h4>
            </div>
            <hr />
            <div>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Doloremque repellat earum ab vero, dolore est quia debitis quae
                tempore sed illo mollitia. Itaque exercitationem debitis dicta
                neque porro repellat ex?
              </p>
            </div>
            <div>
              <a href="" class="read-link">Read more >>></a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card p-4 card-shadow mb-2">
            <div class="">
              <h4 class="fw-bold fs-4 cs">
                Intermediate 1st Year + JEE (MAIN+ADVANCED)
              </h4>
            </div>
            <hr />
            <div>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Doloremque repellat earum ab vero, dolore est quia debitis quae
                tempore sed illo mollitia. Itaque exercitationem debitis dicta
                neque porro repellat ex?
              </p>
            </div>
            <div>
              <a href="" class="read-link">Read more >>></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row bg-course mb-4">
    <div class="col-sm-10 m-auto p-4">
      <div class="row">
        <div class="col-sm-4">
          <div class="card p-4 card-shadow mb-2">
            <div class="">
              <h4 class="fw-bold fs-4 cs">
                Intermediate 1st Year + JEE (MAIN+ADVANCED)
              </h4>
            </div>
            <hr />
            <div>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Doloremque repellat earum ab vero, dolore est quia debitis quae
                tempore sed illo mollitia. Itaque exercitationem debitis dicta
                neque porro repellat ex?
              </p>
            </div>
            <div>
              <a href="" class="read-link">Read more >>></a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card p-4 card-shadow mb-2">
            <div class="">
              <h4 class="fw-bold fs-4 cs">
                Intermediate 1st Year + JEE (MAIN+ADVANCED)
              </h4>
            </div>
            <hr />
            <div>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Doloremque repellat earum ab vero, dolore est quia debitis quae
                tempore sed illo mollitia. Itaque exercitationem debitis dicta
                neque porro repellat ex?
              </p>
            </div>
            <div>
              <a href="" class="read-link">Read more >>></a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card p-4 card-shadow mb-2">
            <div class="">
              <h4 class="fw-bold fs-4 cs">
                Intermediate 1st Year + JEE (MAIN+ADVANCED)
              </h4>
            </div>
            <hr />
            <div>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Doloremque repellat earum ab vero, dolore est quia debitis quae
                tempore sed illo mollitia. Itaque exercitationem debitis dicta
                neque porro repellat ex?
              </p>
            </div>
            <div>
              <a href="" class="read-link">Read more >>></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row result space" id="results" [ngClass]="statusClass" #result>
    <div class="col-sm-9 bg-result text-white mt-1">
      <h2>Results</h2>
    </div>
  </div>
  <div class="row result">
    <div class="col-sm-10 m-auto">
      <div class="row">
        <div class="col-sm-6 p-4">
          <img
            class="img-result"
            src="assets/images/result1.jpg"
            alt=""
            width="100%"
            height="350"
          />
        </div>
        <div class="col-sm-6 p-4">
          <img
            class="img-result"
            src="assets/images/result2.jpg"
            alt=""
            width="100%"
            height="350"
          />
        </div>
      </div>
    </div>
    <div>
      <h2 class="result-head ms-4">Advanced Results</h2>
      <div class="row mt-4">
        <div class="col-sm-10 m-auto mt-4">
          <p class="text text-success">
            Resonance's Tradition to achieve success has made it a pioneer
            coaching Institute in the field of JEE Advanced.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row space" id="about" [ngClass]="statusClass" #about>
    <div class="bg-light">
      <h2 class="ms-4">About Us</h2>
    </div>
    <div class="row">
      <div class="col-sm-6 m-auto">
        <img
          src="assets/images/aboutus.webp"
          width="100%"
          height="600px"
          alt=""
          style="padding: 10px"
        />
      </div>
      <div class="col-sm-6">
        <p class="p-2 mt-4 about">
          After training thousands of IIT, NIT, and NEET aspirants across India,
          Resonance Kota brings its 20-year legacy and success streak to
          Karimnagar. A brainchild of our founder, Mr. R.K. Verma, Resonance is
          an esteemed institution where we pride ourselves in having the best
          Kota faculty to train students while providing study material that can
          be classified as the best in the industry. Besides our well-researched
          syllabus and teaching methodologies, we also provide a special student
          mentorship program to ensure that our students are not only excelling
          in academics but are also ready for the dynamic life ahead. If you
          have any questions or comments, please contact us at 9966533347
        </p>
        <p class="p-2 mt-2 about">
          After training thousands of IIT, NIT, and NEET aspirants across India,
          Resonance Kota brings its 20-year legacy and success streak to
          Karimnagar. A brainchild of our founder, Mr. R.K. Verma, Resonance is
          an esteemed institution where we pride ourselves in having the best
          Kota faculty to train students while providing study material that can
          be classified as the best in the industry. Besides our well-researched
          syllabus and teaching methodologies, we also provide a special student
          mentorship program to ensure that our students are not only excelling
          in academics but are also ready for the dynamic life ahead. If you
          have any questions or comments, please contact us at 9966533347
        </p>
      </div>
      <div class="p-4">
        <h3>Academic Team</h3>
        <p class="about">
          A team of India’s finest faculty members is the core of the Resonance
          experience. Most of our faculty members are IITians/NITians for the
          PreEngineering Division or Doctors from the top Medical Colleges of
          India for the Medical Division, CAS/CS/MBAs/Law Graduates for the
          Commerce & Law Program Division.
        </p>
        <p class="about">
          All the faculty members are recruited through a rigorous recruitment
          process that involves scrutiny of applications, written test,
          demonstration lecture, and personal interview.
        </p>
        <p class="about">
          Newly recruited faculty members undergo an intensive training program
          called Faculty Training Program (FTP) where his/her knowledge,
          attitude, and communication are further sharpened. New faculty members
          also attend the classes of senior faculty members to understand the
          teaching methodology, effective use of teaching aids, and general
          behavior in the classroom.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-10 m-auto">
        <img src="assets/images/india-reso.jpg" alt="" width="100%" height="450" />
      </div>
  </div>
  <div class="row space" id="contact" [ngClass]="statusClass" #contact>
    <div class="bg-light mb-2">
      <h3 class="ms-4">Contact Us</h3>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="card contact-bg border-0">
          <div class="card-header ps-3">
            <h5 class="mb-0 text-muted">
              <span><i class="bi bi-geo-alt"></i></span> Admissions Office
            </h5>
            <p class="mb-0 ms-4 text-muted address">
              Opp. Indian Petrol Bunk, Jagitial Road,
            </p>
            <p class="ms-4 text-muted address">KARIMNAGAR - 505001.</p>
            <p class="fw-bold mb-0">
              <span><i class="bi bi-envelope-open me-1"></i></span>Email:
              <a class="gmail" href="mailto:contact@resonancekarimnagar.com">
                contact@resonancekarimnagar.com
              </a>
            </p>
            <p class="fw-bold mb-0">
              <span><i class="bi bi-telephone-outbound me-1"></i></span>Mobile:
              <a class="phone" href="tel:+91 912 121 9858"> +91 9966533347 </a>
            </p>
          </div>
          <div class="card-body">
            <h5 class="text-center text-dark fw-bold info">
              Leave us your info
            </h5>
            <div class="p-2">
              <form>
                <div class="mb-1">
                  <label class="info-label">Full Name</label>
                  <input
                    type="text"
                    class="form-control form-control-sm info-input"
                    id="fullname"
                  />
                </div>
                <div class="mb-1">
                  <label class="info-label">Email address</label>
                  <input
                    type="email"
                    class="form-control form-control-sm info-input"
                    id="email"
                  />
                </div>
                <div class="mb-1">
                  <label class="info-label">Mobile Number</label>
                  <input
                    type="number"
                    class="form-control form-control-sm info-input"
                    id=""
                  />
                </div>
                <div class="mb-1">
                  <label class="info-label" for="">Gender</label>
                  <select class="form-control form-control-sm info-input" id="">
                    <option value="">--- Select Gender ---</option>
                    <option>Male</option>
                    <option>Female</option>
                  </select>
                </div>
                <div class="mb-1">
                  <label class="info-label">Parent Name</label>
                  <input
                    type="text"
                    class="form-control form-control-sm info-input"
                    id=""
                  />
                </div>
                <div class="mb-1">
                  <label class="info-label">Parent Number</label>
                  <input
                    type="number"
                    class="form-control form-control-sm info-input"
                    id="number"
                  />
                </div>
                <div class="mb-1">
                  <label class="info-label">City</label>
                  <input
                    type="text"
                    class="form-control form-control-sm info-input"
                    id=""
                  />
                </div>
                <div class="mb-1">
                  <label class="info-label">State</label>
                  <input
                    type="text"
                    class="form-control form-control-sm info-input"
                    id=""
                  />
                </div>
                <div class="text-center mt-2">
                  <button type="submit" class="btn btn-success btn-sm w-75">
                    Submit
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="mt-4">
          <p>
            An Integrated Academic Program With NEET-Focused Teaching for
            Intermediate Students
          </p>
          <h3>You can reach us by following address in the below google map</h3>
        </div>
        <div class="p-4">
          <img
            src="assets/images/contactmap.png"
            alt=""
            width="100%"
            height="550"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="row bg-dark p-2">
    <div class="col-sm-4 p-2">
      <div class="text-center">
        <img
          class="p-1 logo m-auto"
          src="assets/images/logo.webp"
          alt=""
          width="80%"
          height="80px"
        />
      </div>
      <div>
        <p class="text-white p-4 mb-0">
          Hyderabad Head Quaters Managed by MAIDEN DROP EDU FOUNDATION Plot No
          26, 100 Ft Road, Main Road, Ayyappa Society, Madhapur, Telangana
          500033, India
        </p>
        <span class="text-white p-4"
          ><i class="bi bi-telephone me-2"></i>+91 912 121 9858</span
        ><br />
        <span class="text-white p-4"
          ><i class="bi bi-envelope-at me-2"></i
          >contact@resokarimnagar.com</span
        >
      </div>
    </div>
    <div class="col-sm-2 p-2">
      <h4 class="text-light ms-4 mb-0">Other Links</h4>
      <hr class="f-line" />
      <ul>
        <li>
          <a href="" class="f-links">Blogs</a>
        </li>
        <li>
          <a href="" class="f-links">Media</a>
        </li>
        <li>
          <a href="" class="f-links">Privacy policy</a>
        </li>
        <li>
          <a href="" class="f-links">Terms & Conditions</a>
        </li>
        <li>
          <a href="" class="f-links">Cancellation policy</a>
        </li>
        <li>
          <a href="" class="f-links">Refund policy</a>
        </li>
      </ul>
    </div>
    <div class="col-sm-3 p-2">
      <h4 class="text-light ms-4 mb-0">Success Mantra</h4>
      <hr class="f-line" />
      <ul>
        <li>
          <a href="" class="f-links">Reso way of learning</a>
        </li>
        <li>
          <a href="" class="f-links">Teaching Methodology</a>
        </li>
        <li>
          <a href="" class="f-links">Student Testimonials</a>
        </li>
        <li>
          <a href="" class="f-links">Parent Testimonials</a>
        </li>
        <li>
          <a href="" class="f-links">Our Mentors</a>
        </li>
      </ul>
    </div>
    <div class="col-sm-3 p-2">map</div>
  </div>
  <div class="row">
    <span class="text-center bg-success text-light p-3"
      >copyrights@resonancekarimnagar 2023</span
    >
  </div>
</div>
