<div class="container-fluid">
  <div class="row main p-2">
    <div class="col-sm-11 m-auto">
      <div class="row">
        <div class="col-sm-10">
          <a class="mail-link" href="mailto:contact@resonancehyderabad.com">
            <span><i class="bi bi-envelope-open"></i></span>&nbsp;
            contact@resonancehyderabad.com
          </a>
          <a class="mail-link ms-4" href="tel:+91 912 121 9858">
            <span><i class="bi bi-telephone-outbound"></i></span>&nbsp; +91
            9121219858
          </a>
        </div>
        <div class="col-sm-2">
          <div class="text-end">
            <button class="btn btn-outline-light btn-sm fw-bold">
              Admin Login
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row head">
    <div class="col-sm-11 m-auto head1">
      <div class="row">
        <div class="col-sm-3">
          <img
            class="p-1 logo m-auto"
            src="assets/images/logo.webp"
            alt=""
            width="100%"
            height="80px"
          />
        </div>
        <div class="col-sm-9"></div>
      </div>
    </div>
  </div>
  <div class="row sticky-top">
    <div class="card">
      <div class="row">
        <div class="col-sm-11 m-auto">
          <nav class="navbar navbar-expand-lg mt-2 fw-bold">
            <div class="container-fluid">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link ms-4 me-4" href="#">Home</a>
                </li>
              </ul>
              <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item ms-4 me-4">
                    <a class="nav-link" href="#">Courses</a>
                  </li>
                  <li class="nav-item ms-4 me-4">
                    <a class="nav-link" href="#">Results</a>
                  </li>
                  <li class="nav-item ms-4 me-4">
                    <a class="nav-link" href="#">Life @ Resonance</a>
                  </li>
                  <li class="nav-item ms-4 me-4">
                    <a class="nav-link" href="#">Way of Learning</a>
                  </li>
                  <li class="nav-item ms-4 me-4">
                    <a class="nav-link" href="#">About us</a>
                  </li>
                  <li class="nav-item ms-4 me-4">
                    <a class="nav-link" href="#">Contact us</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="assets/images/poster1.webp"
            height="600"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="carousel-item">
          <img
            src="assets/images/poster2.webp"
            height="600"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="carousel-item">
          <img
            src="assets/images/poster3.webp"
            height="600"
            class="d-block w-100"
            alt="..."
          />
        </div>
      </div>
      <button
        class="carousel-control-prev prev-btn"
        type="button"
        data-bs-target="#carouselExample"
        data-bs-slide="prev"
      >
        <span
          class="carousel-control-prev-icon prev-icon"
          aria-hidden="true"
        ></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next next-btn"
        type="button"
        data-bs-target="#carouselExample"
        data-bs-slide="next"
      >
        <span
          class="carousel-control-next-icon next-icon"
          aria-hidden="true"
        ></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-9 m-auto">
      <div class="card p-4 card-bg text-center fw-bold">
        <div class="row">
          <div class="col-sm-4">
            <div class="card p-2 c">
              <div class="card-body text-color">
                <h1>NEET</h1>
                <h3>19000 +</h3>
                <p>Students Qualified Since 2022</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card p-2 c">
              <div class="card-body text-color">
                <h1>IIT's</h1>
                <h3>19000 +</h3>
                <p>Students Qualified Since 2022</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card p-2 c">
              <div class="card-body text-color">
                <h1>JEE Main</h1>
                <h3>19000 +</h3>
                <p>Students Qualified Since 2022</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="course">
      <h1 class="course-title ms-4">Courses</h1>
      <h3 class="reso-knr ms-4">Resonance Karimnagar</h3>
    </div>
  </div>
  <div class="row bg-course">
    <div class="col-sm-10 m-auto p-4">
      <h2>Engineering Courses</h2>
      <hr />
      <div class="row">
        <div class="col-sm-4">
          <div class="card p-4 card-shadow">
            <div class="">
              <h4 class="fw-bold fs-4 cs">
                Intermediate 1st Year + JEE (MAIN+ADVANCED)
              </h4>
            </div>
            <hr />
            <div>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Doloremque repellat earum ab vero, dolore est quia debitis quae
                tempore sed illo mollitia. Itaque exercitationem debitis dicta
                neque porro repellat ex?
              </p>
            </div>
            <div>
              <button
                type="button"
                class="btn btn-outline-light read-link"
                data-bs-toggle="modal"
                data-bs-target=".bd-example-modal-lg"
              >
                Read more >>>
              </button>

              <div
                class="modal fade bd-example-modal-lg"
                tabindex="-1"
                role="dialog"
                aria-labelledby="myLargeModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="row">
                      <div class="col-sm-5"></div>
                      <div class="col-sm-7">
                        <div class="card border-0 p-4">
                          <div class="text-center text-secondary">
                            <h3>Leave Us Your Info</h3>
                            <hr />
                          </div>
                          <div>
                            <form>
                              <div class="form-group">
                                <label>Email address</label>
                                <input
                                  type="email"
                                  class="form-control form-control-sm mb-2"
                                  id="email"
                                />
                              </div>
                              <div class="form-group">
                                <label>Password</label>
                                <input
                                  type="password"
                                  class="form-control form-control-sm mb-2"
                                  id="password"
                                />
                              </div>
                              <div class="form-group">
                                <label>Email address</label>
                                <input
                                  type="email"
                                  class="form-control form-control-sm mb-2"
                                  id="email"
                                />
                              </div>
                              <div class="form-group">
                                <label>Password</label>
                                <input
                                  type="password"
                                  class="form-control form-control-sm mb-2"
                                  id="password"
                                />
                              </div>
                              <button
                                type="submit"
                                class="btn btn-outline-primary mt-4"
                              >
                                Submit
                              </button>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card p-4 card-shadow">
            <div class="">
              <h4 class="fw-bold fs-4 cs">
                Intermediate 1st Year + JEE (MAIN+ADVANCED)
              </h4>
            </div>
            <hr />
            <div>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Doloremque repellat earum ab vero, dolore est quia debitis quae
                tempore sed illo mollitia. Itaque exercitationem debitis dicta
                neque porro repellat ex?
              </p>
            </div>
            <div>
              <a href="" class="read-link">Read more >>></a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card p-4 card-shadow">
            <div class="">
              <h4 class="fw-bold fs-4 cs">
                Intermediate 1st Year + JEE (MAIN+ADVANCED)
              </h4>
            </div>
            <hr />
            <div>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Doloremque repellat earum ab vero, dolore est quia debitis quae
                tempore sed illo mollitia. Itaque exercitationem debitis dicta
                neque porro repellat ex?
              </p>
            </div>
            <div>
              <a href="" class="read-link">Read more >>></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row bg-course mb-4">
    <div class="col-sm-10 m-auto p-4">
      <div class="row">
        <div class="col-sm-4">
          <div class="card p-4 card-shadow">
            <div class="">
              <h4 class="fw-bold fs-4 cs">
                Intermediate 1st Year + JEE (MAIN+ADVANCED)
              </h4>
            </div>
            <hr />
            <div>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Doloremque repellat earum ab vero, dolore est quia debitis quae
                tempore sed illo mollitia. Itaque exercitationem debitis dicta
                neque porro repellat ex?
              </p>
            </div>
            <div>
              <a href="" class="read-link">Read more >>></a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card p-4 card-shadow">
            <div class="">
              <h4 class="fw-bold fs-4 cs">
                Intermediate 1st Year + JEE (MAIN+ADVANCED)
              </h4>
            </div>
            <hr />
            <div>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Doloremque repellat earum ab vero, dolore est quia debitis quae
                tempore sed illo mollitia. Itaque exercitationem debitis dicta
                neque porro repellat ex?
              </p>
            </div>
            <div>
              <a href="" class="read-link">Read more >>></a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card p-4 card-shadow">
            <div class="">
              <h4 class="fw-bold fs-4 cs">
                Intermediate 1st Year + JEE (MAIN+ADVANCED)
              </h4>
            </div>
            <hr />
            <div>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Doloremque repellat earum ab vero, dolore est quia debitis quae
                tempore sed illo mollitia. Itaque exercitationem debitis dicta
                neque porro repellat ex?
              </p>
            </div>
            <div>
              <a href="" class="read-link">Read more >>></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row result">
    <div class="col-sm-9 bg-result text-white mt-1">
      <h2>Results</h2>
    </div>
  </div>
  <div class="row result">
    <div class="col-sm-10 m-auto">
      <div class="row">
        <div class="col-sm-6 p-4">
          <img
            class="img-result"
            src="../../assets/images/result1.jpg"
            alt=""
            width="100%"
            height="350"
          />
        </div>
        <div class="col-sm-6 p-4">
          <img
            class="img-result"
            src="../../assets/images/result2.jpg"
            alt=""
            width="100%"
            height="350"
          />
        </div>
      </div>
    </div>
    <div>
      <h2 class="result-head ms-4">Advanced Results</h2>
      <div class="row mt-4">
        <div class="col-sm-10 m-auto mt-4">
          <p class="text text-success">
            Resonance's Tradition to achieve success has made it a pioneer
            coaching Institute in the field of JEE Advanced.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <h2></h2>
  </div>
  <div class="row">
    <div class="col-sm-4">

    </div>
    <div class="col-sm-8 m-auto">
      <img
        src="../../assets/images/maps.png"
        width="100%"
        height="500px"
        alt=""
        style="padding: 20px;"
      />
    </div>
  </div>
</div>
